/*
 Leaderboard : Picked from https://stackoverflow.com/questions/47918195/creating-a-basic-html-javascript-leaderboard#47918237
*/
.leaderboard {
  width: auto;
  height: auto;
  border: 1px dotted black;
}

.row {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #afafaf;
}

.name {
  position: relative;
  display: inline-block;
  width: 75%;
  line-height: 45px;
}

.score {
  position: relative;
  display: inline-block;
  width: 25%;
}

.row:nth-child(1) {
  background: gold;
}

.row:nth-child(2) {
  background: #c0c0c0;
}

.row:nth-child(3) {
  background: #552c03;
}

/*
Button : picked from https://www.w3schools.com/css/css3_buttons.asp
*/
.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.usernameContainer {
  display: flex;
  flex-direction: column;
}
